# General
isProduction=false
QueueStorageConnection="AccountEndpoint=https://YourIp:8081"
AzureWebJobsStorage="AccountEndpoint=https://YourIp:8081"

# Cosmos
COSMOSDB_CONNECTIONSTRING="AccountEndpoint=https://yourCosmosIp:8081/;AccountKey=yourKey/Jw==;"
COSMOSDB_KEY="yourKey"
COSMOSDB_URI="https://yourCosmosIp:8081/"
COSMOSDB_NAME="yourDbName"
COSMOSDB_SERVICES_COLLECTION="yourServiceCollectionName"
COSMOSDB_SERVICES_LEASE_COLLECTION="yourServiceLeaseCollectionName"

# PostgreSQL
DB_USER="YourDbUser"
DB_HOST="YourDbHost"
DB_NAME="YourDbName"
DB_PASSWORD="YourDbPassword"
DB_PORT="YourDbPort"
DB_SCHEMA="YourDbSchema"
DB_TABLE="YourDbTableName"

# APIM
APIM_SERVICE_NAME="Your-Apim-Service-Name"
APIM_RESOURCE_GROUP="Your-Apim-Resource-Group"
APIM_SUBSCRIPTION_ID="Your-Apim-Subscription-ID"
APIM_CLIENT_ID="Your-Apim-Client-ID"
APIM_SECRET="Your-Apim-Secret"
APIM_TENANT_ID="Your-Apim-Tenant-ID"

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0