Openapi
swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
paths:
  "/echo/{input}":
    parameters:
      - name: input
        in: path
        type: string
        required: true
        description: test input.
    get:
      operationId: echo
      summary: Echo API
      description: Some API description here.
      responses:
        "200":
          description: Found.
          schema:
            "$ref": "#/definitions/Input"
          examples:
            application/json:
              id: "10000AAAA"
              output: "hello world !"
        "401":
          description: Unauthorized
        "404":
          description: Not found.
      parameters: []
  /organizations/{organization_fiscal_code}/ownership-status/{delegate_id}:
    get:
      operationId: getOwnershipClaimStatus
      summary: Retrieve migration status of all subscriptions owned by a Delegate on behalf of an Organization
      description: >-
        Given an Organization Fiscal Code and a Source Id a migration status is returned in order to know which subscription is migrated or not.
      parameters:
        - name: organization_fiscal_code
          in: path
          type: string
          required: true
        - name: delegate_id
          in: path
          type: string
          required: true
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/ClaimProcedureStatus'
            required:
              - items
        '401':
          description: Unauthorized
        '404':
        description: >-
          Access data provided are invalid or no row are presents in the database table
        '500':
          description: Generic server error
          schema:
            $ref: '#/definitions/ProblemJson'
definitions:
  Input:
    type: object
    properties:
      id:
        type: string
      output:
        type: string
  ClaimProcedureStatus:
    type: object
    properties:
      completed:
        type: integer
        format: int32
        default: 0
      failed:
        type: integer
        format: int32
        default: 0
      initial:
        type: integer
        format: int32
        default: 0
      processing:
        type: integer
        format: int32
        default: 0
    required:
      - completed
      - failed
      - initial
      - processing
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.
          It may or may not yield further information if dereferenced.