swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  /organizations/{organization_fiscal_code}/ownership-claims/{delegate_id}:
    get:
      operationId: getOwnershipClaimStatus
      summary: Retrieve migration status of all subscriptions owned by a Delegate on behalf of an Organization
      description: >-
        Given an Organization Fiscal Code and a Source Id a migration status is returned in order to know which subscription is migrated or not.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - name: delegate_id
          in: path
          type: string
          minLength: 1
          required: true
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ClaimProcedureStatus"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: >-
            Access data provided are invalid or no row are presents in the database table
        "500":
          description: Generic server error
          schema:
            $ref: "#/definitions/ProblemJson"
  /organizations/{organization_fiscal_code}/delegates:
    get:
      operationId: getDelegatesByOrganization
      summary: Retrieve all delegates on behalf of an Organization
      description: >-
        Given an Organization Fiscal Code a list of delegates is returned in order to know which delegates is related to an organization.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OrganizationResponseDelegates"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: >-
            Access data provided are invalid or no row are presents in the database table
        "500":
          description: Generic server error
          schema:
            $ref: "#/definitions/ProblemJson"
  /organizations/{organization_fiscal_code}/ownership-claims/{delegate_id}:
    post:
      operationId: claimOwnership
      summary: Claim the ownership of all subscriptions owned by a Delegate on behalf of an Organization
      description: >-
        Start the procedure to migrate the ownership of all subscriptions owned by a Delegate on behalf of an Organization to such Organization. The operation is idempotent, so calling it for a processing procedure won't generate a new procedure although a success would be respondend anyway.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - name: delegate_id
          in: path
          type: string
          minLength: 1
          required: true
      responses:
        "202":
          description: Request accepted
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Generic server error
          schema:
            $ref: "#/definitions/ProblemJson"
parameters:
  OrganizationFiscalCode:
    name: "organization_fiscal_code"
    format: OrganizationFiscalCode
    type: string
    in: path
    x-import: "@pagopa/ts-commons/lib/strings"
    required: true
definitions:
  ClaimProcedureStatus:
    type: object
    properties:
      status:
        type: object
        properties:
          completed:
            type: integer
            format: int32
            default: 0
          failed:
            type: integer
            format: int32
            default: 0
          initial:
            type: integer
            format: int32
            default: 0
          processing:
            type: integer
            format: int32
            default: 0
        required:
          - completed
          - failed
          - initial
          - processing
    required:
      - status
  Delegate:
    type: object
    properties:
      sourceId:
        type: string
      sourceName:
        type: string
      sourceSurname:
        type: string
      sourceEmail:
        $ref: "#/definitions/Email"
      subscriptionCounter:
        type: number
    required:
      - sourceId
      - sourceName
      - sourceSurname
      - sourceEmail
      - subscriptionCounter
  Email:
    format: EmailString
    type: string
    x-import: "@pagopa/ts-commons/lib/strings"
  OrganizationResponseDelegates:
    type: object
    properties:
      delegates:
        $ref: "#/definitions/OrganizationDelegates"
    required:
      - delegates
  OrganizationDelegates:
    type: array
    items:
      - $ref: "#/definitions/Delegate"
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.
          It may or may not yield further information if dereferenced.
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: X-Functions-Key
    in: header
